.ui {
  position: fixed;
  inset: 0;
  pointer-events: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.ui section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 65%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.ui section.hidden {
  opacity: 0;
}

.ui section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
}

.ui section p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.ui .nav-btn {
  padding: 12px 24px;
  background-color: #fb923c;
  color: white;
  font-weight: 900;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.5s;
  border: none;
  pointer-events: auto;
}

.nav-btn:hover {
  background-color: #f97316;
}

.nav-btn:focus {
  outline: none;
}
.ui .ref {
  /* width: 400px; */
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #00040e;
}
